@import "tailwindcss";

:root {
     --background: #ffffff;
     --foreground: #171717;
     --primary: #006980;
     --secondary: #03AD92;
     --secondary-green: #26D17D;
     --primaryGreen: #00816D;
     --tealgreen: #1F9F9E;
}

@theme inline {
     --color-background: var(--background);
     --color-foreground: var(--foreground);
     --color-primary: var(--primary);
     --color-secondary: var(--secondary);
     --color-secondary-green: var(--secondary-green);
     --color-tealgreen: var(--tealgreen);
     --color-primaryGreen: var(--primaryGreen);
     --font-sans: var(--font-bw-seido-round);
     --font-mono: var(--font-bw-seido-round);
}

@media (prefers-color-scheme: dark) {
     :root {
          --background: #0a0a0a;
          --foreground: #ededed;
     }
}

body {
     background: var(--background);
     color: var(--foreground);
     font-family: var(--font-bw-seido-round), Arial, Helvetica, sans-serif;
}

.hide-scrollbar {
     -ms-overflow-style: none !important;
     scrollbar-width: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
     display: none;
}

/* Vertical scrollbar */
::-webkit-scrollbar {
     width: 1px;
     /* Width of the vertical scrollbar */
}

/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
     height: 1px;
     /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
     background-color: #d8d9d9;
     /* Color of the scroll thumb */
     border-radius: 11px;
     /* Rounded corners */
}

::-webkit-scrollbar-thumb:horizontal {
     height: 2px;
     min-width: 10%;
     /* Minimum width of the horizontal thumb */
}

::-webkit-scrollbar-track {
     background: #f1f2f2;
     /* Background of the scrollbar track */
     border-radius: 42px;
}

body {
     /* @apply  bg-amber-900 */
}
.container  {
     @apply container max-w-7xl mx-auto px-4 md:px-6
}

.mainTitle {
     @apply text-3xl md:text-4xl lg:text-5xl mb-3.5 font-bold text-primary leading-tight
}

.tagline {
     @apply text-secondary tracking-[0.16em] font-semibold text-base md:text-lg uppercase mb-1.5
}

.commonTitle {
     @apply text-2xl md:text-3xl lg:text-[2rem] mb-2.5 font-bold text-primary leading-tight
}

.section-padding {
     @apply py-12 md:py-16
}

.spacing-x {
     @apply px-12 md:px-16
}

.imageBorderBottom {
     @apply h-2 absolute left-0 right-0 bottom-0 bg-[linear-gradient(to_right,_#03AD92_0%,_#03AD92_20%,_#006980_20%,_#006980_80%,_#1F9F9E_80%,_#1F9F9E_100%)] z-[1]
}
