@import "tailwindcss";

:root {
     --background: #ffffff;
     --foreground: #212124;
     --primary: #006980;
     --secondary: #03AD92;
     --secondary-green: #26D17D;
     --primaryGreen: #00816D;
     --tealgreen: #1F9F9E;
}

@theme inline {
     --color-background: var(--background);
     --color-foreground: var(--foreground);
     --color-primary: var(--primary);
     --color-secondary: var(--secondary);
     --color-secondary-green: var(--secondary-green);
     --color-tealgreen: var(--tealgreen);
     --color-primaryGreen: var(--primaryGreen);
     --font-sans: var(--font-bw-seido-round);
     --font-mono: var(--font-bw-seido-round);
}

/* @media (prefers-color-scheme: dark) {
     :root {
          --background: #ffffff;
          --foreground: #ededed;
     }
} */

body {
     background: var(--background);
     color: var(--foreground);
     font-family: var(--font-bw-seido-round), Arial, Helvetica, sans-serif;
}

.hide-scrollbar {
     -ms-overflow-style: none !important;
     scrollbar-width: none !important;
}

.hide-scrollbar::-webkit-scrollbar {
     display: none;
}

/* Vertical scrollbar */
::-webkit-scrollbar {
     width: 1px;
     /* Width of the vertical scrollbar */
}

/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
     height: 1px;
     /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
     background-color: #d8d9d9;
     /* Color of the scroll thumb */
     border-radius: 11px;
     /* Rounded corners */
}

::-webkit-scrollbar-thumb:horizontal {
     height: 2px;
     min-width: 10%;
     /* Minimum width of the horizontal thumb */
}

::-webkit-scrollbar-track {
     background: #f1f2f2;
     /* Background of the scrollbar track */
     border-radius: 42px;
}

body {
     /* @apply  bg-amber-900 */
}

/* 
989 -- 1366
*/

/* .container {
     @apply container mx-auto px-4 md:px-6 lg:max-w-[740px] xl:max-w-[989px] 2xl:max-w-7xl
} */

.container { 
     @apply container mx-auto px-4 md:px-6 min-[992px]:max-[1400px]:max-w-[989px] min-[1401px]:max-[1599px]:max-w-[1170px] min-[1600px]:max-w-7xl; 
}


.mainTitle {
     @apply text-3xl md:text-4xl lg:text-5xl mb-3.5 font-bold text-primary leading-tight
}

.tagline {
     @apply text-secondary tracking-[0.16em] font-semibold text-base md:text-lg uppercase mb-1.5
}

.commonTitle {
     @apply text-2xl md:text-3xl lg:text-[2rem] mb-2.5 font-bold text-primary leading-tight
}

.section-padding {
     @apply py-7.5 md:py-12 xl:py-14 2xl:py-16
}

.spacing-x {
     @apply px-12 md:px-16
}


.imageBorderBottomAbs {
     @apply h-2 absolute left-0 right-0 bottom-0 bg-[linear-gradient(to_right,#03AD92_0%,#03AD92_20%,#006980_20%,#006980_80%,#1F9F9E_80%,#1F9F9E_100%)] z-1;
    
}

.innerBanner.imageBorderBottom {
     border-bottom-width: 8px;
}

@layer utilities {
     .imageBorderBottom {
          border-bottom: 4px solid transparent;
          border-image: linear-gradient(to right,
                    #03AD92 0%,
                    #03AD92 20%,
                    #006980 20%,
                    #006980 80%,
                    #1F9F9E 80%,
                    #1F9F9E 100%);
          border-image-slice: 1;
     }


}

.react-datepicker {
  @apply border border-gray-200 rounded-xl shadow-lg;
}

.react-datepicker__header {
  @apply bg-blue-50 border-b border-gray-200;
}

.react-datepicker__current-month {
  @apply text-sm font-semibold text-gray-700;
}

.react-datepicker__day-name {
  @apply text-gray-500 text-xs font-medium;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-blue-500 text-white;
}

.react-datepicker__navigation-icon::before {
  @apply border-gray-600;
}
